SERVICE_A_GRPC_ADDR=localhost:50051
ELASTICSEARCH_NODE=http://localhost:9200
AWS_ENDPOINT=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:record-created
SES_FROM_EMAIL=notifications@record-platform.local
SES_TO_EMAIL=ops@record-platform.local
